# Project exclude paths
/.idea/
/Client/test
/JavaApplication2/nbproject/private/
/Client/nbproject/private/
/Client/build/
/Client/out/
/Client/.idea/
/out/
/servers/out/production/
/servers/.idea/
/Client/dist/